

 <div cdkDropList class="boundary  h-full" (cdkDropListDropped)="drop($event)" style="overflow: auto; " >
    <!-- <div style="width: 2400px; height: 200px; background-color: azure;"></div> -->
    @for (movie of movies; track movie) {
        <app-sound cdkDrag   class="bg-[hsl(var(--background))] h-10" (cdkDragStarted)="onTake($event)" (cdkDragEnded)="onTake($event)" cdkDragBoundary=".boundary"  [columns]="50"  >
            <!-- <div  class="bg-[hsl(var(--muted))]  border border-[hsl(var(--accent))]  text-[hsl(var(--accent))]   h-8" *cdkDragPlaceholder></div>  -->
            <!-- todo use ng-template -->
        </app-sound>
    }
</div>

