<div class="flex justify-start gap-20">
<input
  class="w-3/5 mb-4" 
  hlmInput
  #search
  placeholder="Search user by username"
  
  (input)="SearchUser()"
  [formControl]="searchUsername"
  
/>

<button hlmBtn type="button" [disabled]="!selectedUser" (click)="addUserToForm()">Add User</button>
</div>
<div class="flex flex-row w-3/5 justify-between h-56">
@if(searchUsername.value){
<div class="w-full grid gap-4 rounded-lg border-[hsl(var(--ring))] border">
  <div class="">
    <h4 class="font-medium leading-none pl-3 pt-3">Users:</h4>
  </div>

    <hlm-table class="w-full h-full overflow-auto">
    @for(user of filteredUsers; track user){
    
        <hlm-trow (click)="setSelectedUser(user)" class="border-[hsl(var(--muted))] border">
          <hlm-td truncate class="font-medium h-8 w-52">{{user.username}}</hlm-td>
        </hlm-trow>
    }
  </hlm-table>
 
</div>
}
</div>
