
<input
  class="w-80"
  hlmInput
  #search
  placeholder="Search user by username"
  [(ngModel)]="searchUsername.value"
  (input)="SearchUser()"
/>
<div class="flex flex-row w-full justify-between">
<div class="pl-2 pt-3 h-56 overflow-auto">
@if(searchUsername.value){
<div class="w-80 grid gap-4">
  <div class="space-y-2">
    <h4 class="font-medium leading-none">Users:</h4>
  </div>

  <div class="grid gap-2">
    @for(user of filteredUsers; track user){
    <div class="flex items-center space-x-3">
      <h5>{{ user.username }}</h5>
    </div>
    }
  </div>
</div>
} @else {
<h4>Enter username</h4>
}
</div>
  <p>info</p>
</div>